{{> html_public_header }}



    <div class="container">

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center"><img src="/img/zozor404.png" ></div>
            <div class="col-md-3"></div>
        </div>
        <br />
        <br />
        {{message}}
        <br />
        <br />
        {{stack}}
    </div>
 
{{> html_public_footer }}