          </div>
    </body>

    <script type="text/javascript" src="/vendor/mdbootstrap/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/vendor/mdbootstrap/js/popper.min.js"></script>
    <script type="text/javascript" src="/vendor/mdbootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/mdbootstrap/js/mdb.min.js"></script>

</html>