<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
        <title>GoodRace.fr </title>
        <link rel="stylesheet"  href='/vendor/mdbootstrap/css/bootstrap.min.css' />
        <link href="/vendor/mdbootstrap/css/mdb.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">


    </head>
    <body >

        {{> navbar}}

        <div class="container">
            
            <br />
            <br />